.fireball .title{
    width: 200px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-wrapper{
    background: #f7eeee;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}