
.hamburger-btn-wrapper {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001;
  background-color: rgba(236, 49, 90, 0.12);
  padding: 10px;            
  border-radius: 4px;        
}


.hamburger-btn {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  padding: 0; 
}


.line {
  display: block;
  height: 2px;
  background-color: #ec315a; 
  border-radius: 2px;
  transition: all 0.3s ease;
}


.line1 { width: 30px; }
.line2 { width: 24px; }
.line3 { width: 18px; }

.hamburger-btn.open .line1 {
  transform: rotate(45deg) translate(5px, 5px);
  width: 30px;
}

.hamburger-btn.open .line2 {
  opacity: 0;
}

.hamburger-btn.open .line3 {
  transform: rotate(-45deg) translate(5px, -5px);
  width: 30px;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 19, 19, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.overlay.open {
  transform: translateY(0);
}

.overlay-nav a {
  display: flex;
  font-size: 48px;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  color: #ec315a;
  font-family: 'Bebas Neue', sans-serif;
}

.overlay-nav a:hover {
  color: #ec315a;
}

.loading .hamburger-btn-wrapper,
.loading .overlay {
  display: none;
}


